.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: var(--primary);
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link::after {
  content: ' →';
}
